@import '../../variables.scss';

.button {
    box-sizing: border-box;
    height: 32px;
    border: 1px solid $color-border;
    border-radius: 2px;
    font-weight: 400;
    color: $color-font;
    background-color: $color-background;
    cursor: pointer;
    &:hover {
        color: $color-font-primary;
    }
}

.button + .button {
    margin-left: 16px;
}
