@import '../variables.scss';

.download {
    margin-bottom: 16px;
}
.exporter,
.exporter-patch {
    ul {
        border-top: 1px solid $color-border;
    }
    li {
        display: flex;
        border-bottom: 1px solid $color-border;
        padding: 8px 0;
        justify-content: space-between;
    }
}

.exporter {
    li {
        &.changed {
            box-shadow: inset #ff9800 0px -5px 0px 0px;
            .to {
                color: green;
            }
        }
    }
}
.exporter,
.exporter-patch {
    li {
        .diff {
            text-align: right;
            .from {
                color: $color-font-disabled;
                text-decoration: line-through;
            }
            span + span {
                margin-left: 4px;
            }
        }
    }
}
