@import '../variables.scss';
@import '../mixins.scss';

.component-list {
    padding: 15px;
    overflow-y: auto;
    height: 100%;
    margin: -15px;
    .component-wrapper {
        @include card;
        padding: 24px;
        position: relative;
        .title {
            font-size: 16px;
            font-weight: 400;
            color: $color-font;
            line-height: 24px;
            font-weight: bold;
            margin-bottom: 24px;
        }
        .edit-button {
            font-size: 14px;
            font-weight: 600;
            line-height: 22px;
            cursor: pointer;
            position: absolute;
            right: 24px;
            top: 24px;
            display: inline-flex;
            align-items: center;
            > svg {
                margin-right: 8px;
                fill: currentColor;
            }
            &:hover {
                color: $color-font-primary;
            }
        }
    }
    .component-wrapper + .component-wrapper {
        margin-top: 24px;
    }
}
