:root {
    --primary: black;
    --bg-primary: white;

    --link: #2a0b0b;
}

.body {
    margin: 20px 0 10px;
    font-size: 0.9rem;
}

button {
    outline: none;
    border: none;
    border-radius: 8px;
    padding: 10px 35px;

    background: #845ec2;
    color: white;
}
