.container {
    font-size: 14px;
    color: #526075;
    background: white;
    width: 410px;
    box-shadow: 0px 8px 12px 4px rgba(0, 0, 0, 0.05);

    ul,
    li {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    h1,
    h2,
    h3 {
        margin: 0;
    }

    .panel {
        padding: 1.5em;
    }

    nav > ul {
        display: flex;

        li {
            flex: 1 1 auto;
            text-align: center;
            line-height: 2.2em;
            color: #7a8baa;
            cursor: pointer;

            &[data-active='false'] {
                background: #fafafc;
            }
            &[data-active='true'] {
                color: #3860f4;
                font-weight: 600;
            }
            &[data-disabled='true'] {
                cursor: not-allowed;
            }
        }
    }
    .group-name {
        font-size: 14px;
        font-weight: 600;
        color: #0a1633;
        line-height: 1.6em;
        margin-bottom: 0.5em;
    }
    .panel {
        max-height: 60vmin;
        min-height: 10vmin;
        overflow: auto;
    }
    .token-list {
        .comment,
        .key {
            font-size: 14px;
            line-height: 1.6em;
            margin-bottom: 0.5em;
        }
        > li + li {
            margin-top: 1em;
        }
    }
}
