@import './variables.scss';
@import './mixins.scss';

.main {
    font-size: 14px;
    color: #526075;
    ul,
    li {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    h1,
    h2,
    h3 {
        margin: 0;
    }
}
