$color-shadow: rgba(0, 0, 0, 0.18);
$color-border: #d2d6ea;
$color-font: #0a1633;
$color-font-primary: #3860f4;
$color-font-disabled: #7a8baa;
$color-background: #ffffff;
$color-font-remark: #7a8baa;
