@import '../variables.scss';
@import '../mixins.scss';

.back {
    width: 24px;
    height: 24px;
    border-radius: 2px;
    border: 1px solid $color-border;
    background: $color-background;
    margin-bottom: 24px;
    cursor: pointer;
}

.wrapper {
    display: flex;
    align-items: flex-start;
    .right {
        width: 410px;
        margin-left: 24px;
    }
    .left {
        flex: 1;
    }
}

.bi-list {
    flex: 1;
    .color-group-list {
        .group + .group {
            margin-top: 24px;
        }
        .group {
            @include card;
            .group-name {
                line-height: 32px;
                font-weight: 400;
                color: $color-font;
                font-size: 20px;
                margin-bottom: 16px;
            }
            .color-list {
                display: grid;
                grid-template-columns: repeat(9, 32px);
                grid-row-gap: 16px;
                grid-column-gap: 4px;
                margin-bottom: 16px;
                .color-square {
                    position: relative;
                    width: 32px;
                    height: 32px;
                    border-radius: 2px;
                    border: 1px solid $color-border;
                    cursor: pointer;
                }
            }
        }
    }
}

.bi-token-editor {
    @include card;
    .title {
        font-size: 16px;
        font-weight: 600;
        color: $color-font;
        line-height: 32px;
    }
    .divider {
        height: 1px;
        background: $color-border;
        margin: 24px 0;
    }
    .sub-title {
        font-size: 16px;
        font-weight: 600;
        color: $color-font;
        line-height: 24px;
        margin-top: 32px;
    }
}
